html {
  @apply scroll-smooth;
}
body {
  @apply bg-yellow-50;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

@keyframes dripWave {
  0% {
    border-radius: 50% 50% 40% 60% / 60% 40% 60% 40%;
    transform: translateY(0);
  }
  50% {
    border-radius: 45% 55% 60% 40% / 60% 60% 40% 40%;
    transform: translateY(10px);
  }
  100% {
    border-radius: 50% 50% 40% 60% / 60% 40% 60% 40%;
    transform: translateY(0);
  }
}

.drip-animation {
  border-radius: 50% 50% 40% 60% / 60% 40% 60% 40%;
  animation: dripWave 1s infinite ease-in-out;
}
